.wrapper{
    width: 100%;
    height: 100vh;
}
.header{
    height: 80px;

}
.main{
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
}
.side-bar-left{
   width: 80px;
   height: calc(100vh - 50px);
}
.side-bar-right{
    width: calc(100% - 80px);
    height: calc(100vh - 50px);
}
.new-student{
    height: 100px;
    background-color: #1B72E8;
    color: white;
}
.box-l{
    background-color:#051E34;
    color: white;
    width: 100%;
    height: calc(100vh - 50px - 100px);
}
.box-r{
     width: 100%;
     background-color:#051E34;
     color: white;
     height: 100px;
}
