.wrapper{
    width: 100%;
    height: 100vh;
    border: 2px solid red;
}
.header{
    height: 80px;

}
.main{
    width: 100%;
    height: calc(100vh - 50px);
    border: 2px solid blue;
    background-color: lightblue;
    display: flex;
}
.side-bar-left{
   width: 80px;
   height: calc(100vh - 50px);
   background-color: red;
}
.side-bar-right{
    width: calc(100% - 80px);
    height: calc(100vh - 50px);
    background-color: green;
}
.new-student{
    border: 2px solid black;
    height: 100px;
}
.box-l{
    background-color:#051E34;
    color: white;
    width: 100%;
    height: calc(100vh - 50px - 100px);
}
.box-r{
     width: 100%;
     background-color:#051E34;
     color: white;
     height: 100px;
}
